.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--mokoko-leaf-color);
    /* padding: 20px 60px; */
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid var(--mokoko-font-color-opa5);
}
.nav__list {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
.nav__link {
    color: var(--mokoko-icon-color);
    position: relative;
}
.nav__notification {
    /* 모양 설정 */
    background-color: tomato;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    /* 위치 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.nav__point {
    /* 모양 설정 */
    background-color: tomato;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    /* 위치 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 27px;
}