.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.open-post__members img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider {
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 5px;
}
.open-post__member-status {
    color: #ff21aa;
}
.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}
/* @keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(2);
    }
    100% {
        color: white;
        transform: none;
    }
} */
@keyframes heartBeat {
    0% {
        color: #f00;
        transform: none;
    }
    8.33% {
        color: #ff7f00;
    }
    16.67% {
        color: #ff0;
    }
    25% {
        color: #7fff00;
    }
    33.33% {
        color: #0f0;
    }
    41.67% {
        color: #00ff7f;
    }
    50% {
        color: #0ff;
        transform: scale(2);
    }
    58.33% {
        color: #007fff;
    }
    66.67% {
        color: #00f;
    }
    75% {
        color: #7f00ff;
    }
    83.33% {
        color: #f0f;
    }
    91.67% {
        color: #ff007f;
    }
    100% {
        color: #f00;
        transform: none;
    }
}
.open-post__photo:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
.open-post__heart-count span {
    margin-left: 5px;
}