:root {
    --mokoko-background-color: #f3ffd1;
    --mokoko-color: #cffc9d;
    --mokoko-leaf-color: #88e089;
    --mokoko-font-color: #3c7f6d;
    --mokoko-font-color-opa5: rgba(60, 127, 109, 0.5);
    --mokoko-icon-color: #1f4138;
    --horizontal-space: 25px;
}